/* Seccion productos por categorias */

.seccionCentral {
  width: 100%;
  margin-bottom: 30px;
}

.seccionCentral .categorias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    
}

.seccionCentral .categorias h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.seccionCentral .todosLosArticulos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -20px;
}


.seccionCentral .todosLosArticulos article {
    background-color: white;
    width: 33.3%;
    height: 350px;
    margin: 15px;
    padding: 45px;
}

.seccionCentral .todosLosArticulos article h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    color: green;

}

.seccionCentral .todosLosArticulos article img{
    width: 90%;
    height: 250px;
}

.seccionCentral .todosLosArticulos article p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    background-color: aqua;
}

.seccionCentral .todosLosArticulos article a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    color: black;
    background-color: greenyellow
}

